*{

    margin: 100px;
}
#cuadro-1 {
    width: 400px;
    height: 100px;
    background-color: aqua;
    position: static;
    top: 0%;
    left: 0%;
    border-color: coral;
    border-style: dotted;
    border-width: 5px;
    
  }
  
  #cuadro-2 {
    width: 400px;
    height: 100px;
    background-color:red;
    position: static;
    top: 0%;
    right: 0%;
    border-color: greenyellow;
    border-top-style: dashed;
    border-right-style: solid;
    border-bottom-style: dashed;
    border-left-style: solid;
    border-width: 5px;
  
  }
  
  #cuadro-3 {
    width: 400px;
    height: 100px;
    background-color: blue;
    position: static;
    bottom: 0%;
    left: 0%;
    border-color: orange;
    border-top-style: dashed;
    border-right-style: ridge;
    border-bottom-style: none;
    border-left-style: dotted;
    border-width: 5px;
  }